<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lab 12 - Camilla</title>
</head>
<body style="color: black">
<h4>ToDo List </h4>
<div class="card-body">
    <div th:switch="${students}" class="container my-5">
        <p class="my-5">
            <a href="/students/showForm" class="btn btn-primary"><i class="fas fa-user-plus ml-2"> Add student</i></a>
        </p>
        <div class="col-md-10">
            <table class="table table-sm">
                <thead class="thead-dark">
                <tr style="table-border-color-dark: darkgray">
                    <th scope="col">#</th><th></th>
                    <th scope="col">ID</th><th></th>
                    <th scope="col">Name</th><th></th>
                    <th scope="col">Date</th><th></th>
                    <th scope="col">Delete</th><th></th>
                    <th scope="col">Upload</th><th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th> <th></th>
                    <td>26046</td> <th></th>
                    <td>Kamila</td> <th></th>
                    <td>Hellooo</td> <th></th>
                    <td>***</td><th> </th>
                    <td>***</td> <th></th>

                </tr>

                <tbody>
                <tr th:each="todolist : ${students}">
                    <td th:text="${todolist.id}"></td>
                    <td th:text="${todolist.name}"></td>
                    <td th:text="${todolist.date}"></td>
                    <td><a th:href="@{/students/edit/{id}(id=${todolist.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                    <td><a th:href="@{/students/delete/{id}(id=${todolist.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>

